table {
  width: 100%;
  margin: 0 auto;
}

mat-paginator {
  width: 100%;
  margin: 0 auto;
}

clearfix::after{
  clear: both;
  content: '';
  display: table;
}

mat-card {
  height: 30px;
  text-align: center;
}


.create-ticket-btn {
  float: right;
}