<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="sidedraw">
    <p class="sidenav">Cinemas</p><br>
    <p class="sidenav">Movies</p><br>
    <p class="sidenav">Tickets</p><br>
    <p class="sidenav">Users</p>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main">
      <div class="inner clearfix">
        <p class="ptext1">Science Fiction</p>
        <h1>Gozilla Vs Kong</h1>
        <p class="ptext2">In a time,when monsters walk earth,huminity's fight for its future sets Gozilla and Kong on a collison 
        course that will see the two most powerful forces of nature on a planet collide in a spectacular battles for the ages.</p>
      <button class="btn-watch">Watch Now</button>
      </div>
      </div>
      <div class="l-inner">
        <h3>New Release</h3>
        <div class="clearfix">
        <div class="box">
          <img src="../../img/joker.jpg" alt="Joker">
          <p class="movie-title">Joker</p>
          <p class="movie-genre">Action</p>
        </div>
        <div class="box">
          <img src="../../img/batman.jpg" alt="Batman">
          <p class="movie-title">Batman</p>
          <p class="movie-genre">Action</p>
        </div>
        <div class="box">
          <img src="../../img/Archer.jpg" alt="Archer">
          <p class="movie-title">Archer</p>
          <p class="movie-genre">Action</p>
        </div>
        <div class="box">
          <img src="../../img/perfume.jpg" alt="Perfume">
          <p class="movie-title">Perfume</p>
          <p class="movie-genre">Thriller</p>
        </div>
      </div>
      <div class="clearfix">
        <div class="box">
          <img src="../../img/blackwidow.jpg" alt="blackwidow">
          <p class="movie-title">Blackwidow</p>
          <p class="movie-genre">Action</p>
        </div>
        <div class="box">
          <img src="../../img/aquaman.jpg" alt="Aquaman">
          <p class="movie-title">Aquaman</p>
          <p class="movie-genre">Action</p>
        </div>
        <div class="box">
          <img src="../../img/jurassic.jpg" alt="Jurassic Park">
          <p class="movie-title">Jurassic Park</p>
          <p class="movie-genre">Action</p>
        </div>
        <div class="box">
          <img src="../../img/jaws.jpg" alt="Jaws">
          <p class="movie-title">Jaws</p>
          <p class="movie-genre">Thriller</p>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


