<mat-card>
  <mat-card-header>
    <mat-card-title>Change Password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form action="post" [formGroup]="formData" (ngSubmit)="onClickSave()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Old Password</mat-label>
        <input type="text" matInput class="form-control" formControlName="oldPassword" required>
        <mat-error *ngIf="myForm['oldPassword'].hasError('required')">Please enter your old password</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>New Password</mat-label>
        <input type="text" matInput class="form-control" formControlName="newPassword" required>
        <mat-error *ngIf="myForm['newPassword'].hasError('required')">Please enter your new password</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Confirm your New Password</mat-label>
        <input type="text" matInput class="form-control" formControlName="confirmPwd" required>
        <mat-error *ngIf="myForm['confirmPwd'].hasError('required')">Please confirm your new password</mat-error>
        <mat-error *ngIf="myForm['confirmPwd'].hasError('mustMatch')">Password must be match</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="warn" class="full-width" (click)="onClear()"> {{ confirmView === true ? 'Cancel' : 'Clear' }} </button>
        <button mat-raised-button color="primary" class="add-user-btn" [disabled]="formData.invalid"> {{ confirmView === true ? 'Confirm' : 'Register' }} </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
