::ng-deep {
  mat-form-field, .seat-btn, .selected-seat-btn {
    margin-top: 16px;
    margin-right: 16px;
  }

  .selected-seat-btn {
    background-color: green !important;
  }
  
  .seat-div {
    text-align: center;
  }
}