::ng-deep {
  mat-form-field, .seat-btn, .selected-seat-btn {
    margin-top: 16px;
    margin-right: 16px;
  }

  .seat-btn {
    background-color: #fff !important;
    color: rgb(63,81,181) !important;
  }

  .selected-seat-btn {
    background-color: rgb(63,81,181) !important;
    color: #fff !important;
  }

  .sold-out-seat-btn {
    background-color: grey !important;
    color: #fff !important;
  }
  
  .seat-div {
    text-align: center;
  }
}