mat-form-field, .seat-btn {
  margin-top: 16px;
  margin-right: 16px;
}

.seat-div {
  text-align: center;
}

.selected {
  color: rgb(63,81,181);
  background-color: #fff;
}

.unselected {
  color: #fff;
  background-color: rgb(63,81,181);
}