<mat-card class="clearfix">
  <mat-form-field>
    <input type="text" matInput (keyup)="doFilter($event.target)" placeholder="Filter">
  </mat-form-field>
  <button mat-raised-button class="create-cinema-btn" color="primary" (click)="openBottomSheet()">
    <mat-icon>add_circle_outline</mat-icon>
    Add Cinema
  </button>
</mat-card>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Available Cinemas</th>
    <td mat-cell *matCellDef="let element"> {{ element?.name }} </td>
  </ng-container>
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
    <td mat-cell *matCellDef="let element"> {{ element?.createdAt | date:'dd/MM/YYYY' }} </td>
  </ng-container>
  <ng-container matColumnDef="updatedAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated At</th>
    <td mat-cell *matCellDef="let element"> {{ element?.updatedAt | date:'dd/MM/YYYY' }} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="accent" (click)="openUpdateDialog(element)">
        <mat-icon class="mat-18">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="openDeleteDialog(element)">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]">
</mat-paginator>

