table {
  width: 90%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
  margin: 0 auto;
}

mat-paginator {
  width: 90%;
  margin: 0 auto;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

td.mat-cell  {
  text-align: left;
}

clearfix::after{
  clear: both;
  content: '';
  display: table;
}

mat-card {
  height: 30px;
  text-align: center;
}

.profileimg {
  height: 50%;
  width: 50%;
}

.td-profile {
  width: 100px;
}

.add-user {
  float: right;
}