<mat-card>
  <mat-card-header>
    <mat-card-title>Edit Cinema</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form action="post" [formGroup]="formData" (ngSubmit)="onClickUpdateCinema()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input type="text" matInput class="form-control" formControlName="name" required>
        <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="full-width" [disabled]="formData.invalid">Save</button>
    </form>
  </mat-card-content>
</mat-card>
