<mat-card>
  <mat-card-header>
    <h1>ABOUT</h1>
  </mat-card-header>
  <mat-card-content class="clearfix wrapper">
    <mat-card-content>
      <mat-card-title>Company Overview</mat-card-title>
      <mat-divider></mat-divider>
      <p>
        <span>Company Name</span> Happy Cinema Co.,Ltd
      </p>
      <mat-divider></mat-divider>
      <p>
        <span>Established</span> 1 September 2022
      </p>
      <mat-divider></mat-divider>
      <p>
        <span>Leader</span> Mr. Win Lhan Phyo
      </p>
      <mat-divider></mat-divider>
      <p>
        <span>Frontend developers</span> Mr. Soe Win Htut, &nbsp;&nbsp;&nbsp; Mr. Hein Htet Soe
      </p>
      <mat-divider></mat-divider>
      <p>
        <span>Backend developers</span> Mr. Ye Thiha, &nbsp;&nbsp;&nbsp; Mrs. Naw Lar Phaw Htoo
      </p>
      <mat-divider></mat-divider>
      <p>
        <span>Capital</span> 100,000 USD
      </p>
      <mat-divider></mat-divider>
      <p>
        <span>Headquarters</span> Tokyo, Japan (Seattle Consulting, Inc.)
      </p>
      <mat-divider></mat-divider>
      <p>
        <span>Address</span> BLDG (122/124), 1F/2F, 4th Quarter, Botahtaung Pagoda Road, Botahtaung Township, Yangon, Myanmar.
      </p>
    </mat-card-content>

  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <h2>VISION</h2>
  </mat-card-header>
  <mat-card-content class="vision-content">
    <p>
      To be a leading online movie ticket selling Company in Myanmar.
    </p>
  </mat-card-content>
</mat-card>
<div class="parent-div clearfix">
  <mat-card class="mission-card">
    <mat-card-header>
      <h2>MISSION</h2>
    </mat-card-header>
    <mat-card-content class="vision-content">
      <p>
        To build strong teams with excellent IT engineers. <br>
        To provide high-quality and cost-effective solutions. <br>
        To develop IT products beneficial to our society. <br>
        To build a solid trust with our customers and partners. <br>
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="value-card">
    <mat-card-header>
      <h2>VALUE</h2>
    </mat-card-header>
    <mat-card-content class="vision-content">
      <p>
        To build strong teams with excellent IT engineers. <br>
        To provide high-quality and cost-effective solutions. <br>
        To develop IT products beneficial to our society. <br>
        To build a solid trust with our customers and partners. <br>
      </p>
    </mat-card-content>
  </mat-card>
</div>
<footer>
  Copyright © Happy Cinema Myanmar Co., Ltd. All rights reserved.
</footer>