mat-card {
  width: 600px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 16px;
  color: rgb(39, 39, 39);
}

mat-form-field {
  width: 200px;
  margin: 5px 10px;
}

mat-label {
  color: rgb(39, 39, 39);
}

mat-card-content, mat-card-header {
  padding-bottom: 10px;
}

mat-card-content {
  text-align: center;
}

mat-card-header {
  padding-top: 10px;
}

mat-card-title {
  font-size: 30px !important;
  font-weight: 900;
}

.btn-div {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}
button {
  width: 150px;
  margin-right: 20px;
}

.save-btn {
  margin-right: 0;
}

.profileimg {
  object-fit: cover;
  display: inline-block;
  margin-top: 10px;
  margin-left: 0;
  height: 80%;
  width: 20%;
}