<mat-card>
  <mat-card-title>Welcome to Happy Cinema!</mat-card-title>
  <button mat-raised-button color="primary" class="cinemas-btn" routerLink="/cinemas" (click)="onClickCinemas()">
    <mat-icon class="mat-18">theaters</mat-icon>
    Cinemas
  </button>
  <button mat-raised-button color="primary" class="users-btn" routerLink="/users" (click)="onClickUsers()">
    <mat-icon class="mat-18">people_alt</mat-icon>
    Users
  </button>
  <button mat-raised-button color="primary" class="movies-btn" routerLink="/movies" (click)="onClickMovies()">
    <mat-icon class="mat-18">movie</mat-icon>
    Movies
  </button>
  <button mat-raised-button color="primary" class="tickets-btn" routerLink="/tickets" (click)="onClickTickets()">
    <mat-icon class="mat-18">local_activity</mat-icon>
    Tickets
  </button>
</mat-card>