<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <mat-toolbar>
      <a routerLink="/home">Happy Cinema</a>
      <span class="example-spacer"></span>
      <button mat-button color="primary" *ngIf="isUserLoggedIn">
         <mat-icon class="mat-18">account_circle</mat-icon>
         {{ loggedInUser.fullName }}
       </button>
      <button mat-button color="primary" *ngIf="isUserLoggedIn; else isLogOut" class="nav-link" (click)="openDialog()">
         <mat-icon class="mat-18">logout</mat-icon>
         Log Out
      </button>
      <ng-template mat-button color="primary" #isLogOut>
         <button mat-button color="primary" class="nav-link" routerLink="/login">
            <mat-icon class="mat-18">login</mat-icon>
            Log In
         </button>
      </ng-template>
      <button mat-button color="accent" *ngIf="!isUserLoggedIn" routerLink="/signup">
         <mat-icon class="mat-18">person_add_alt</mat-icon>
         Sign Up
      </button>
   </mat-toolbar>
   
   <router-outlet></router-outlet>
</body>
</html>